<div class="example-container">
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.city" [options]="cities" [title]="'Откуда?'" (valuesChanged)="updateCity($event)"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.country" [options]="countries" [title]="'Куда?'" (valuesChanged)="updateCountry($event)"></app-dropdown>
    </div>
    <app-datepicker class="col-lg-3 col-sm-12 col-md-6 mt-2"
                    (dateRangeSelection)="updateDates($event)"></app-datepicker>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.nightsFrom" [options]="nightsFrom" [title]="'От'" (valuesChanged)="updateFrom($event)" (defaultValueChanged)="updateTo($event)"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.nightsTo" [options]="nightsTo" [title]="'До'" (valuesChanged)="updateTo($event)"></app-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.category" [options]="categories" [multiple]="true"
                    [title]="'Категория'" (valuesChanged)="updateCategories($event)"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.meals" [options]="meals" [multiple]="true"
                    [title]="'Питание'" (valuesChanged)="updateMeals($event)"></app-dropdown>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 mt-2">
      <div ngbDropdown #dropdownTourists="ngbDropdown" class="d-inline-block btn-block">
        <button class="btn btn-outline-primary btn-block" id="dropdownConfig" ngbDropdownToggle>Туристы</button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <form class="px-4 py-3">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Взрослых:</mat-label>
                <mat-select [(value)]="searchData.tourists.adults">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Детей:</mat-label>
                <mat-select [(value)]="searchData.tourists.children">
                  <mat-option value="1">1</mat-option>
                  <mat-option value="2">2</mat-option>
                  <mat-option value="3">3</mat-option>
                </mat-select>
              </mat-form-field>
              <button class="btn btn-outline-info btn-block"
                      (click)="$event.stopPropagation(); dropdownTourists.close()">Готово
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 mt-2">
      <button class="btn btn-outline-success btn-block" (click)="search()">Найти</button>
    </div>
  </div>
</div>
