<div class="example-container">
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.city" [selectedItems]="cities" [options]="cities" [title]="'Откуда?'"
                    (valuesChanged)="updateCity($event)" [multiple]="true"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.country" [options]="countries" [title]="'Куда?'"
                    (valuesChanged)="updateCountry($event)" [multiple]="true"></app-dropdown>
    </div>
    <app-datepicker class="col-lg-3 col-sm-12 col-md-6 mt-2"
                    (dateRangeSelection)="updateDates($event)"></app-datepicker>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.nightsFrom" [options]="nightsFrom" [title]="'От'"
                    (valuesChanged)="updateFrom($event)" [multiple]="false"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.nightsTo" [options]="nightsTo" [title]="'До'"
                    (valuesChanged)="updateTo($event)" [multiple]="false"></app-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.category" [options]="categories" [multiple]="true"
                    [title]="'Категория'" (valuesChanged)="updateCategories($event)"></app-dropdown>
    </div>
    <div class="col-lg-2 col-sm-12 col-md-6 mt-2">
      <app-dropdown [defaultValue]="searchData.meals" [options]="meals" [multiple]="true"
                    [title]="'Питание'" (valuesChanged)="updateMeals($event)"></app-dropdown>
    </div>
    <div class="col-lg-3 col-sm-12 col-md-6 mt-2">
      <div ngbDropdown #dropdownTourists="ngbDropdown" class="d-inline-block btn-block">
        <button class="btn btn-outline-primary btn-block" id="dropdownConfig" ngbDropdownToggle>Туристы</button>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <form class="px-4 py-3">
            <div class="form-group">
                <app-dropdown [defaultValue]="searchData.tourists.adults" [title]="'Взрослые'" [options]="adults"
                              (valuesChanged)="updateAdults($event)" [multiple]="false"></app-dropdown>
                <app-dropdown [defaultValue]="searchData.tourists.children" [title]="'Дети'" [options]="children"
                              (valuesChanged)="updateChildren($event)" [multiple]="false"></app-dropdown>
              <button class="btn btn-outline-info btn-block"
                      (click)="$event.stopPropagation(); dropdownTourists.close()">Готово
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 mt-2">
      <button class="btn btn-outline-success btn-block" (click)="search()">Найти</button>
    </div>
  </div>
</div>
