<div class="example-container form-group">
  <input class="form-control" type="text" placeholder="Название отеля" [(ngModel)]="searchData.hotelName">
  <app-dropdown class="input" [title]="'Все страны'" [defaultValue]="searchData.country" (valuesChanged)="updateCountries($event)"
                [multiple]="true" [options]="countries"></app-dropdown>
  <app-dropdown class="input" [title]="'Категория'" [defaultValue]="searchData.category" (valuesChanged)="updateCategories($event)"
                [multiple]="true" [options]="categories" [searchFilter]="false"></app-dropdown>
  <app-dropdown class="input" [title]="'Пансион'" [defaultValue]="searchData.meals" (valuesChanged)="updateMeals($event)"
                [multiple]="true" [options]="meals" [searchFilter]="false"></app-dropdown>
  <button class="btn btn-outline-success" (click)="sendRequest()">Найти тур</button>
</div>
